table
{
    border: 2px solid black;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
th,td
{
    border: 1px solid grey;
}
.previous,.next
{
color: #0099ff;
border:1px solid #33ccff;
 background-color: white;
 padding: 8px;
 border-radius: 2px;
}
